/* Typography: */
body {
    font: 400 16px "Merriweather", "Georgia", serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
header nav li {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 600;
}
a {
    text-decoration: none;
}


/* Colors: */
header {
    background-color: #5fb9c8;
    padding: .8333333333333%;
}
footer {
    background-color: #bc6253;
    color: white;
}
a,
footer a {
    color: #61bac9;
}
header a {
    color: white;
}
main {
    background-color: white;
}
footer h2,
article h2 {
    border-bottom: 1px #ddd dotted;
}
header .tagline {
    color: #333;
}


/* Specific text features: */
header .site-title {
    margin: 0;
    text-transform: none;
    font-size: 4.5em;
}
header .tagline {
    font-style: italic;
}
article .hero {
    width: 66.66666666667%;
    margin: 0 16.66666666667%;
}
article .hero p {
    font-size: 1.5em;
    font-style: italic;
}
article h1 {
    font-size: 3em;
}
main {
    min-height: 50em;
}
aside {
    margin-top: 8em;
}


/* Layout: */

header {
    text-align: center;
}
header nav ul {
    margin: 0;
    padding: 0;
}
header nav li {
    display: inline-block;
    padding: 1em;
}



header .content,
main .content,
footer .content {
    max-width: 50em;
    margin: 0 auto;
}



.features section,
footer section {
    float: left;
    width: 30%;
    margin: 1em 1.6666666666667%;
}



main,
footer {
    clear: both;
    overflow: auto;
}



/* single-column layout */
.single-column-layout article,
.single-column-layout aside {
    float: none;
    width: 100%;
    margin-left: 1.666666667%;
    margin-right: 1.666666667%;
}



/* two-column layout: */
.two-column-layout article {
    float: left;
    width: 63.333333333%;
    margin-right: 1.666666667%;
    margin-left: 1.666666667%;
}
.two-column-layout aside {
    float: left;
    width: 30%;
    margin-left: 1.666666667%;
    margin-right: 1.666666667%;
}



/* responsive layout: */
@media screen and (max-width: 40em) {
    .features section,
    footer section,
    .two-column-layout article,
    .two-column-layout aside {
        float: none;
        width: 96.6666666667%;
    }
}
